In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)

In [19]:
df = pd.read_csv("saiku-export.csv")
pd.set_option('display.max_columns', None)#mostramos todas las columnas.

In [20]:
df

,País de nacimiento Agresor,Suicidio,Convivencia,Denuncia agresor,Tramo de edad Agresor,Tramo de edad Víctima,Comunidad autónoma,Pareja - Expareja,Año,Mes,Número de mujeres víctimas mortales,Número de hijos e hijas menores huérfanos
0,España,No hubo tentativa,Sí,No había denuncia,18-20 años,21-30 años,Andalucía,Pareja,Año 2012,Abril,1.0,0.0
1,España,No hubo tentativa,Sí,No había denuncia,18-20 años,21-30 años,Andalucía,Pareja en fase de separación,Año 2006,Diciembre,1.0,0.0
2,España,No hubo tentativa,Sí,No había denuncia,18-20 años,21-30 años,Cataluña,Pareja,Año 2009,Agosto,1.0,0.0
3,España,No hubo tentativa,Sí,No había denuncia,21-30 años,16-17 años,Andalucía,Pareja,Año 2023,Febrero,1.0,0.0
4,España,No hubo tentativa,Sí,No había denuncia,21-30 años,18-20 años,Comunidad de Madrid,Pareja,Año 2012,Noviembre,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1235,No consta,No hubo tentativa,No,No consta denuncia,No consta,18-20 años,Comunitat Valenciana,Expareja,Año 2003,Agosto,1.0,0.0
1236,No consta,No hubo tentativa,No,No consta denuncia,No consta,21-30 años,Principado de Asturias,Expareja,Año 2003,Septiembre,1.0,0.0
1237,No consta,No hubo tentativa,No,No consta denuncia,No consta,31-40 años,Cataluña,Expareja,Año 2003,Agosto,1.0,0.0
1238,No consta,No hubo tentativa,No,No consta denuncia,No consta,41-50 años,Cataluña,Expareja,Año 2003,Mayo,1.0,0.0
1239,No consta,Tentativa no consumada,No,No consta denuncia,41-50 años,41-50 años,Cataluña,Expareja,Año 2004,Julio,1.0,0.0

In [21]:
#Cambio de nombre columnas

names={"Comunidad autónoma":"comunidad_autonoma", "Tramo de edad Agresor":"edad_agresor","Tramo de edad Víctima":"edad_victima","Convivencia":"convivencia","Pareja - Expareja":"estado","Número de mujeres víctimas mortales":"n_victimas_mortales","Número de hijos e hijas menores huérfanos":"hijos_huerfanos", "País de nacimiento Agresor":"pais_nac_agresor","Suicidio":"suicidio","Año":"año", "Mes":"mes"}

In [22]:
df.rename(columns=names, inplace=True) #aplicamos el cambio de nombres.

In [23]:
df.head()

,pais_nac_agresor,suicidio,convivencia,Denuncia agresor,edad_agresor,edad_victima,comunidad_autonoma,estado,año,mes,n_victimas_mortales,hijos_huerfanos
0,España,No hubo tentativa,Sí,No había denuncia,18-20 años,21-30 años,Andalucía,Pareja,Año 2012,Abril,1.0,0.0
1,España,No hubo tentativa,Sí,No había denuncia,18-20 años,21-30 años,Andalucía,Pareja en fase de separación,Año 2006,Diciembre,1.0,0.0
2,España,No hubo tentativa,Sí,No había denuncia,18-20 años,21-30 años,Cataluña,Pareja,Año 2009,Agosto,1.0,0.0
3,España,No hubo tentativa,Sí,No había denuncia,21-30 años,16-17 años,Andalucía,Pareja,Año 2023,Febrero,1.0,0.0
4,España,No hubo tentativa,Sí,No había denuncia,21-30 años,18-20 años,Comunidad de Madrid,Pareja,Año 2012,Noviembre,1.0,0.0

In [24]:
df = df.drop("Denuncia agresor", axis=1) #eliminamos tablas que no necesitamos.

In [25]:
df.head()

,pais_nac_agresor,suicidio,convivencia,edad_agresor,edad_victima,comunidad_autonoma,estado,año,mes,n_victimas_mortales,hijos_huerfanos
0,España,No hubo tentativa,Sí,18-20 años,21-30 años,Andalucía,Pareja,Año 2012,Abril,1.0,0.0
1,España,No hubo tentativa,Sí,18-20 años,21-30 años,Andalucía,Pareja en fase de separación,Año 2006,Diciembre,1.0,0.0
2,España,No hubo tentativa,Sí,18-20 años,21-30 años,Cataluña,Pareja,Año 2009,Agosto,1.0,0.0
3,España,No hubo tentativa,Sí,21-30 años,16-17 años,Andalucía,Pareja,Año 2023,Febrero,1.0,0.0
4,España,No hubo tentativa,Sí,21-30 años,18-20 años,Comunidad de Madrid,Pareja,Año 2012,Noviembre,1.0,0.0

In [26]:
df.info() #miramos tipos de datos de la tabla importada.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1240 entries, 0 to 1239
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   pais_nac_agresor     1240 non-null   object
 1   suicidio             1240 non-null   object
 2   convivencia          1240 non-null   object
 3   edad_agresor         1240 non-null   object
 4   edad_victima         1240 non-null   object
 5   comunidad_autonoma   1240 non-null   object
 6   estado               1240 non-null   object
 7   año                  1240 non-null   object
 8   mes                  1240 non-null   object
 9   n_victimas_mortales  1240 non-null   float64
 10  hijos_huerfanos      1240 non-null   float64
dtypes: float64(2), object(9)
memory usage: 106.7+ KB

In [27]:
df.año = df.año.str.replace("Año", "") #reemplazamos Año por nada en las filas.

In [28]:
df.head()

,pais_nac_agresor,suicidio,convivencia,edad_agresor,edad_victima,comunidad_autonoma,estado,año,mes,n_victimas_mortales,hijos_huerfanos
0,España,No hubo tentativa,Sí,18-20 años,21-30 años,Andalucía,Pareja,2012,Abril,1.0,0.0
1,España,No hubo tentativa,Sí,18-20 años,21-30 años,Andalucía,Pareja en fase de separación,2006,Diciembre,1.0,0.0
2,España,No hubo tentativa,Sí,18-20 años,21-30 años,Cataluña,Pareja,2009,Agosto,1.0,0.0
3,España,No hubo tentativa,Sí,21-30 años,16-17 años,Andalucía,Pareja,2023,Febrero,1.0,0.0
4,España,No hubo tentativa,Sí,21-30 años,18-20 años,Comunidad de Madrid,Pareja,2012,Noviembre,1.0,0.0

In [29]:
df['año'] = df['año'].astype(int) #pasamos a float la columna año.

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1240 entries, 0 to 1239
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   pais_nac_agresor     1240 non-null   object
 1   suicidio             1240 non-null   object
 2   convivencia          1240 non-null   object
 3   edad_agresor         1240 non-null   object
 4   edad_victima         1240 non-null   object
 5   comunidad_autonoma   1240 non-null   object
 6   estado               1240 non-null   object
 7   año                  1240 non-null   int32
 8   mes                  1240 non-null   object
 9   n_victimas_mortales  1240 non-null   float64
 10  hijos_huerfanos      1240 non-null   float64
dtypes: float64(2), int32(1), object(8)
memory usage: 101.8+ KB

In [33]:
pivot_aut = pivot_aut.fillna(0)

In [45]:
df_group = df.groupby(["comunidad_autonoma"])["n_victimas_mortales"].count().reset_index()

In [50]:
df_group.to_csv('vic_cAut.csv', index=True)