In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv("saiku-export.csv")
pd.set_option('display.max_columns', None)#mostramos todas las columnas.

In [3]:
df

,País de nacimiento Agresor,Suicidio,Convivencia,Denuncia agresor,Tramo de edad Agresor,Tramo de edad Víctima,Comunidad autónoma,Pareja - Expareja,Año,Mes,Número de mujeres víctimas mortales,Número de hijos e hijas menores huérfanos
0,España,No hubo tentativa,Sí,No había denuncia,18-20 años,21-30 años,Andalucía,Pareja,Año 2012,Abril,1.0,0.0
1,España,No hubo tentativa,Sí,No había denuncia,18-20 años,21-30 años,Andalucía,Pareja en fase de separación,Año 2006,Diciembre,1.0,0.0
2,España,No hubo tentativa,Sí,No había denuncia,18-20 años,21-30 años,Cataluña,Pareja,Año 2009,Agosto,1.0,0.0
3,España,No hubo tentativa,Sí,No había denuncia,21-30 años,16-17 años,Andalucía,Pareja,Año 2023,Febrero,1.0,0.0
4,España,No hubo tentativa,Sí,No había denuncia,21-30 años,18-20 años,Comunidad de Madrid,Pareja,Año 2012,Noviembre,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1235,No consta,No hubo tentativa,No,No consta denuncia,No consta,18-20 años,Comunitat Valenciana,Expareja,Año 2003,Agosto,1.0,0.0
1236,No consta,No hubo tentativa,No,No consta denuncia,No consta,21-30 años,Principado de Asturias,Expareja,Año 2003,Septiembre,1.0,0.0
1237,No consta,No hubo tentativa,No,No consta denuncia,No consta,31-40 años,Cataluña,Expareja,Año 2003,Agosto,1.0,0.0
1238,No consta,No hubo tentativa,No,No consta denuncia,No consta,41-50 años,Cataluña,Expareja,Año 2003,Mayo,1.0,0.0
1239,No consta,Tentativa no consumada,No,No consta denuncia,41-50 años,41-50 años,Cataluña,Expareja,Año 2004,Julio,1.0,0.0

In [4]:
#Cambio de nombre columnas

names={"Comunidad autónoma":"comunidad_autonoma", "Tramo de edad Agresor":"edad_agresor","Tramo de edad Víctima":"edad_victima","Convivencia":"convivencia","Pareja - Expareja":"estado","Número de mujeres víctimas mortales":"n_victimas_mortales","Número de hijos e hijas menores huérfanos":"hijos_huerfanos", "País de nacimiento Agresor":"pais_nac_agresor","Suicidio":"suicidio","Año":"año", "Mes":"mes"}

In [5]:
df.rename(columns=names, inplace=True) #aplicamos el cambio de nombres.

In [6]:
df

,pais_nac_agresor,suicidio,convivencia,Denuncia agresor,edad_agresor,edad_victima,comunidad_autonoma,estado,año,mes,n_victimas_mortales,hijos_huerfanos
0,España,No hubo tentativa,Sí,No había denuncia,18-20 años,21-30 años,Andalucía,Pareja,Año 2012,Abril,1.0,0.0
1,España,No hubo tentativa,Sí,No había denuncia,18-20 años,21-30 años,Andalucía,Pareja en fase de separación,Año 2006,Diciembre,1.0,0.0
2,España,No hubo tentativa,Sí,No había denuncia,18-20 años,21-30 años,Cataluña,Pareja,Año 2009,Agosto,1.0,0.0
3,España,No hubo tentativa,Sí,No había denuncia,21-30 años,16-17 años,Andalucía,Pareja,Año 2023,Febrero,1.0,0.0
4,España,No hubo tentativa,Sí,No había denuncia,21-30 años,18-20 años,Comunidad de Madrid,Pareja,Año 2012,Noviembre,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1235,No consta,No hubo tentativa,No,No consta denuncia,No consta,18-20 años,Comunitat Valenciana,Expareja,Año 2003,Agosto,1.0,0.0
1236,No consta,No hubo tentativa,No,No consta denuncia,No consta,21-30 años,Principado de Asturias,Expareja,Año 2003,Septiembre,1.0,0.0
1237,No consta,No hubo tentativa,No,No consta denuncia,No consta,31-40 años,Cataluña,Expareja,Año 2003,Agosto,1.0,0.0
1238,No consta,No hubo tentativa,No,No consta denuncia,No consta,41-50 años,Cataluña,Expareja,Año 2003,Mayo,1.0,0.0
1239,No consta,Tentativa no consumada,No,No consta denuncia,41-50 años,41-50 años,Cataluña,Expareja,Año 2004,Julio,1.0,0.0

In [7]:
df = df.drop("Denuncia agresor", axis=1) #eliminamos tablas que no necesitamos.

In [8]:
df.head()

,pais_nac_agresor,suicidio,convivencia,edad_agresor,edad_victima,comunidad_autonoma,estado,año,mes,n_victimas_mortales,hijos_huerfanos
0,España,No hubo tentativa,Sí,18-20 años,21-30 años,Andalucía,Pareja,Año 2012,Abril,1.0,0.0
1,España,No hubo tentativa,Sí,18-20 años,21-30 años,Andalucía,Pareja en fase de separación,Año 2006,Diciembre,1.0,0.0
2,España,No hubo tentativa,Sí,18-20 años,21-30 años,Cataluña,Pareja,Año 2009,Agosto,1.0,0.0
3,España,No hubo tentativa,Sí,21-30 años,16-17 años,Andalucía,Pareja,Año 2023,Febrero,1.0,0.0
4,España,No hubo tentativa,Sí,21-30 años,18-20 años,Comunidad de Madrid,Pareja,Año 2012,Noviembre,1.0,0.0

In [9]:
df.info() #miramos tipos de datos de la tabla importada.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1240 entries, 0 to 1239
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   pais_nac_agresor     1240 non-null   object
 1   suicidio             1240 non-null   object
 2   convivencia          1240 non-null   object
 3   edad_agresor         1240 non-null   object
 4   edad_victima         1240 non-null   object
 5   comunidad_autonoma   1240 non-null   object
 6   estado               1240 non-null   object
 7   año                  1240 non-null   object
 8   mes                  1240 non-null   object
 9   n_victimas_mortales  1240 non-null   float64
 10  hijos_huerfanos      1240 non-null   float64
dtypes: float64(2), object(9)
memory usage: 106.7+ KB

In [10]:
df.año = df.año.str.replace("Año", "") #reemplazamos Año por nada en las filas.

In [11]:
df.head()

,pais_nac_agresor,suicidio,convivencia,edad_agresor,edad_victima,comunidad_autonoma,estado,año,mes,n_victimas_mortales,hijos_huerfanos
0,España,No hubo tentativa,Sí,18-20 años,21-30 años,Andalucía,Pareja,2012,Abril,1.0,0.0
1,España,No hubo tentativa,Sí,18-20 años,21-30 años,Andalucía,Pareja en fase de separación,2006,Diciembre,1.0,0.0
2,España,No hubo tentativa,Sí,18-20 años,21-30 años,Cataluña,Pareja,2009,Agosto,1.0,0.0
3,España,No hubo tentativa,Sí,21-30 años,16-17 años,Andalucía,Pareja,2023,Febrero,1.0,0.0
4,España,No hubo tentativa,Sí,21-30 años,18-20 años,Comunidad de Madrid,Pareja,2012,Noviembre,1.0,0.0

In [12]:
df['año'] = df['año'].astype(int) #pasamos a float la columna año.

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1240 entries, 0 to 1239
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   pais_nac_agresor     1240 non-null   object
 1   suicidio             1240 non-null   object
 2   convivencia          1240 non-null   object
 3   edad_agresor         1240 non-null   object
 4   edad_victima         1240 non-null   object
 5   comunidad_autonoma   1240 non-null   object
 6   estado               1240 non-null   object
 7   año                  1240 non-null   int32
 8   mes                  1240 non-null   object
 9   n_victimas_mortales  1240 non-null   float64
 10  hijos_huerfanos      1240 non-null   float64
dtypes: float64(2), int32(1), object(8)
memory usage: 101.8+ KB

In [14]:
df.to_csv('tabla_limpia.csv', index=True) #pasamos la tabla limpia para trabajar con ella en otro jupyter.

In [15]:
# hacemos un groupby del dataframe y lo guardamos para sacar la grafica que queremos.

In [16]:
df_group = df.groupby(["comunidad_autonoma"]).agg({"n_victimas_mortales":"sum"}).reset_index()

In [17]:
df_group.head()

  comunidad_autonoma  n_victimas_mortales
0          Andalucía                258.0
1             Aragón                 33.0
2           Canarias                 82.0
3          Cantabria                 11.0
4    Castilla y León                 62.0

In [18]:
df_group.to_csv('vic_c_20años.csv', index=True)

In [19]:
# hacemos una pivot para sacar los valores de lo que necesitamos investigar y lo guardamos en un csv para utilizarlo
# mas adelante.

In [20]:
pivot =df[df['año'] == 2023].pivot_table(index="comunidad_autonoma",
                                          values="n_victimas_mortales",
                                        aggfunc = "sum")

In [21]:
pivot.to_csv("vic_año-hab.csv", index = True)

In [22]:
pivot2 = df.pivot_table( index = "comunidad_autonoma",
                        columns="año",
                              values="n_victimas_mortales",
                              aggfunc="sum")

In [23]:
victimas_por_año = pivot2.fillna(0) #sustituimos los valores NaN por 0 ya que nos indica que en esa zona no habia victimas.

años_a_eliminar = [2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2024]
victimas_por_año = victimas_por_año.drop(años_a_eliminar, axis=1)

In [24]:
victimas_por_año.to_csv("victimas_por_año.csv",index=True) # guardamos csv para uso del dataframe nuevo.

In [27]:
victimas_por_año

año,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
comunidad_autonoma,,,,,,,,,,,
Andalucía,11.0,11.0,14.0,5.0,7.0,12.0,15.0,10.0,9.0,11.0,17.0
Aragón,2.0,0.0,1.0,3.0,0.0,4.0,1.0,0.0,2.0,2.0,1.0
Canarias,2.0,1.0,3.0,4.0,5.0,3.0,9.0,4.0,0.0,2.0,3.0
Cantabria,1.0,0.0,1.0,0.0,0.0,0.0,2.0,1.0,1.0,0.0,0.0
Castilla y León,4.0,3.0,2.0,6.0,0.0,2.0,3.0,1.0,4.0,3.0,3.0
Castilla-La Mancha,4.0,0.0,1.0,1.0,6.0,2.0,0.0,4.0,1.0,7.0,2.0
Cataluña,4.0,13.0,6.0,6.0,8.0,9.0,8.0,8.0,11.0,8.0,10.0
Ceuta,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
Comunidad Foral de Navarra,0.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,1.0,1.0,1.0
Comunidad de Madrid,9.0,7.0,4.0,3.0,7.0,5.0,6.0,3.0,7.0,7.0,7.0
Comunitat Valenciana,9.0,7.0,11.0,6.0,7.0,2.0,7.0,7.0,7.0,3.0,6.0
Extremadura,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
Galicia,3.0,5.0,7.0,4.0,2.0,3.0,3.0,4.0,1.0,0.0,3.0
Illes Balears,2.0,3.0,1.0,6.0,0.0,2.0,1.0,3.0,2.0,0.0,0.0
La Rioja,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
Melilla,0.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
País Vasco,1.0,3.0,3.0,1.0,2.0,2.0,0.0,1.0,2.0,1.0,2.0
Principado de Asturias,1.0,0.0,3.0,2.0,0.0,3.0,0.0,1.0,1.0,0.0,0.0
Región de Murcia,0.0,0.0,1.0,0.0,3.0,2.0,1.0,2.0,0.0,2.0,1.0

In [28]:
suma_2013=victimas_por_año[2013].sum()

In [49]:
dictio={}
for k,v in victimas_por_año.items():
    dictio[k]=v.sum()
print(dictio)

{2013: 54.0, 2014: 55.0, 2015: 59.0, 2016: 49.0, 2017: 49.0, 2018: 53.0, 2019: 56.0, 2020: 50.0, 2021: 49.0, 2022: 49.0, 2023: 57.0}

In [71]:
andalucia = victimas_por_año.loc["Andalucía"].sum()
aragon = victimas_por_año.loc["Aragón"].sum()
canarias = victimas_por_año.loc["Canarias"].sum()
cantabria = victimas_por_año.loc["Cantabria"].sum()
castilla_leon = victimas_por_año.loc["Castilla y León"].sum()
castilla_la_mancha = victimas_por_año.loc["Castilla-La Mancha"].sum()
cataluña = victimas_por_año.loc["Cataluña"].sum()
ceuta = victimas_por_año.loc["Ceuta"].sum()
navarra = victimas_por_año.loc["Comunidad Foral de Navarra"].sum()
madrid = victimas_por_año.loc["Comunidad de Madrid"].sum()
comunidad_valenciana = victimas_por_año.loc["Comunitat Valenciana"].sum()
extremadura = victimas_por_año.loc["Extremadura"].sum()
galicia = victimas_por_año.loc["Galicia"].sum()
islas_baleares = victimas_por_año.loc["Illes Balears"].sum()
la_rioja = victimas_por_año.loc["La Rioja"].sum()
melilla = victimas_por_año.loc["Melilla"].sum()
pais_vasco = victimas_por_año.loc["País Vasco"].sum()
asturias = victimas_por_año.loc["Principado de Asturias"].sum()
region_murcia = victimas_por_año.loc["Región de Murcia"].sum()

In [72]:
andalucia
aragon 
canarias
cantabria
castilla_leon
castilla_la_mancha
cataluña
ceuta
navarra
madrid 
comunidad_valenciana 
extremadura
galicia
islas_baleares
la_rioja
melilla
pais_vasco
asturias
region_murcia

12.0